.main {

    position: fixed;
    z-index: 999;
    top: 0;
    left: 15vw;
    width: 85vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    transform: translateY(100%);
    animation: main_in 0.3s cubic-bezier(0,.85,0,1) 0.3s forwards;

}
@keyframes main_in {
    from {
        transform: translateY(100%);
    } to {
        transform: translateY(0);
    }
}

#gui_main {
    width: 85vw;
    height: auto;
}

#gui_main > div{
    width: 85vw;
    height: 100vh;
}
#gui_main > div > p {
    /* 这个要删掉 */
    font-size: 2rem;
}