.taskbar {

    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 12vw;
    min-height: 100vh;
    background-color: rgb(239, 239, 239);

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateX(-100%);
    animation: taskbar_in 0.6s cubic-bezier(0.25, 0.1, 0.25, 1.1) forwards;

}
@keyframes taskbar_in {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0);
    }
}

.taskbar button {

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 8vw;
    height: 8vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);

    transition: transform 0.2s ease;

}
.taskbar > button:hover {
    transform: scale(1.05);
}
.taskbar > button:active {
    transform: scale(0.9);
    opacity: 0.8;  /* 可选：点击时稍微透明 */
}