#pop_up {

    position: fixed;
    z-index: 903;

    width: 200px;
    height: 50px;
    top: 35px;
    left: 850px;
    border-radius: 15px;
    background-color: rgb(88, 214, 141);

    display: flex;
    align-items: center;
    overflow: hidden;

    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.175);

}
#pop_up.show {
    transform: translateX(-300px);
}
#pop_up.hide {
    transform: translateX(0px);
}
#pop_up p {
    color: white;
    font-size: 15px;
    margin-left: 20px;
}