#psw_change {

    position: fixed;
    z-index: 902;
    top: 0;
    left: 0;
    width: 800px;
    height: 600px;
    background-color: rgba(168, 168, 168, 0.2);
    backdrop-filter: blur(5px);

    display: none;
    justify-content: center;
    align-items: center;

    transition: transform 0.2s ease;

}
#psw_change div {

    width: 300px;
    height: 250px;
    border-radius: 20px;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#psw_change p {
    font-weight: 450;
    font-size: 15px;
    color: rgb(100, 100, 100);
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

#psw_change input {

    width: 150px;
    height: 30px;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    background-color: rgba(246, 246, 246, 0.5);
    backdrop-filter: blur(5px);

    transition: all 0.1s ease;

    /* --- 扁平化风格的修改 --- */
    border: none;              /* 完全去掉边框 */
    border-bottom: 1px solid #ddd; /* 只保留底部线条 */
    border-right: 1px solid #ddd;

}
#psw_change input::-webkit-outer-spin-button,
#psw_change input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#psw_change input:focus {
    outline: none;
    background-color: #fcfcfc; /* 焦点时背景变白 */
    border-bottom: 1.5px solid #66ccff; /* 底部线条变蓝 */
}

#psw_change button {

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 125px;
    height: 50px;
    border-radius: 75px;
    background-color: rgba(246, 246, 246, 0.5);
    backdrop-filter: blur(5px);

    transition: transform 0.2s ease;

}
#psw_change button:hover {
    transform: scale(1.05);
}
#psw_change button:active {
    transform: scale(0.9);
    opacity: 0.8;  /* 可选：点击时稍微透明 */
}